* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 739px) {
    .container {
        flex-direction: column;
        max-width: 300px;
    }
}

/* MENU */

.menu {
    background: #1A78A6;
    padding: 15px;
}

.menu-logo {
    margin: 0 10px;
}

.menu-nav {
    flex: 1;
    align-self: center;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    float: right;
    list-style: none;
}

.menu-nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
}

@media (max-width: 739px) {
    .menu-nav, .menu-logo {
        margin: 0 0 10px 0;
        align-self: center;
    }
}

/* INTRO */

.intro {
    background: #1A78A6;
    padding: 130px 0 30px 0;
    text-align: center;
    color: #ffffff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro p {
    font-style: 1.125em;
    font-style: italic;
}

.intro a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background: #FF419F;
    padding: 15px 30px;
    border-radius: 50em;
    margin-top: 30px;
}

@media (max-width: 739px) {
    .intro {
        padding: 60px 0 15px 0;
    }
}

/* SOBRE */

.sobre {
    max-width: 960px;
    margin: 90px auto;
}

.sobre h2 {
    color: #1A78A6;
    font-size: 1.125em;
}

.sobre h1 {
    color: #FF419F;
    font-size: 2.25em;
}

.sobre::before {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background: #FF419F;
    margin-bottom: 30px;
}

.sobre-conteudo {
    display: flex;
    margin-top: 60px;
}

.sobre-conteudo img {
    min-width: 250px;
    height: 250px;
    background: #616161;
    margin-right: 15px;
}

.sobre-conteudo p {
    font-size: 1.125em;
    align-self: center;
    text-align: justify;
}

@media (max-width: 739px) {
    .sobre {
        max-width: 300px;
        margin: 60px auto;
    }

    .sobre-conteudo {
        display: block;
    }
    
    .sobre-conteudo img {
        margin-bottom: 30px;
    }
}