* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 739px) {
    .container {
        flex-direction: column;
        max-width: 300px;
    }
}

/* MENU */

.menu {
    background: #1A78A6;
    padding: 15px;
}

.menu-logo {
    margin: 0 10px;
}

.menu-logo img {
    max-width: 250px;
}

.menu-nav {
    flex: 1;
    align-self: center;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    float: right;
    list-style: none;
}

.menu-nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
}

@media (max-width: 739px) {
    .menu-nav, .menu-logo {
        margin: 0 0 10px 0;
        align-self: center;
    }
}

/* INTRO */

.intro {
    background: #1A78A6;
    padding: 130px 0 30px 0;
    text-align: center;
    color: #ffffff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro p {
    font-style: 1.125em;
    font-style: italic;
}

.intro a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background: #FF419F;
    padding: 15px 30px;
    border-radius: 50em;
    margin-top: 30px;
}

@media (max-width: 739px) {
    .intro {
        padding: 30px 0 15px 0;
    }

    .intro p {
        max-width: 300px;
        margin: 15px auto;
    }
}

/* SOBRE */

.sobre {
    max-width: 960px;
    margin: 90px auto;
}

.sobre h2 {
    color: #1A78A6;
    font-size: 1.125em;
}

.sobre h1 {
    color: #FF419F;
    font-size: 2.25em;
}

.sobre::before {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background: #FF419F;
    margin-bottom: 30px;
}

.sobre-conteudo {
    display: flex;
    margin-top: 60px;
}

.sobre-conteudo img {
    min-width: 250px;
    height: 250px;
    background: #616161;
    margin-right: 15px;
    box-shadow: -10px 10px 0 #FF419F;
}

.sobre-conteudo p {
    font-size: 1.125em;
    align-self: center;
    text-align: justify;
}

@media (max-width: 739px) {
    .sobre {
        max-width: 300px;
        margin: 60px auto;
    }

    .sobre-conteudo {
        display: block;
    }
    
    .sobre-conteudo img {
        margin-bottom: 30px;
    }
}

/* PRODUTOS */

.produtos {
    background: #1A78A6;
    padding: 60px 0;
    text-align: center;
}

.produtos a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #FF419F;
    padding: 15px 50px;
    border-radius: 50em;
}

.produtos-item {
    margin: 0 15px 60px 0;
}

.produtos-item img {
    display: block;
    width: 250px;
    height: 250px;
    background: #616161;
    margin: 0 auto;
    box-shadow: -10px 10px 0 #FF419F;
}

.produtos-item h2 {
    font-size: 1.125em;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

.produtos-item h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background: #FF419F;
    margin: 15px auto;

}

.produtos-item p {
    color: #ffffff;
}

/* PREÇOS */

.preços {
    max-width: 960px;
    margin: 90px auto;
}

.preços::before {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background: #FF419F;
    margin-bottom: 30px;
}

.preços h2 {
    color: #1A78A6;
    font-size: 1.125em;
}

.preços h1 {
    color: #FF419F;
    font-size: 2.25em;
}

.preços-item {
    margin: 60px auto;
    background: #1A78A6;
    padding: 30px 15px;
    max-width: 100%;
}

.preços-item h2 {
    color: #ffffff;
    text-align: center;
}

.preços-item ul li {
    list-style: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.125em;
}

.preços-item ul li span::after {
    content: '';
    display: inline-block;
    width: 220px;
    height: 2px;
    background: #2498D0;
}

@media (max-width: 739px) {
    .preços {
        max-width: 300px;
        margin: 60px auto;
    }

    .preços-item {
        margin: 15px auto;
    }

    .preços-item ul li span::after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 2px;
        background: #2498D0;
    }
} 

/* CONTATO */

.contato {
    display: flex;
    background: #1A78A6;
    padding: 60px 0;
}

.contato div {
    margin: 0 auto;
}

.contato-informacoes a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
    padding: 10px;
}

.contato-informacoes a img {
    margin-right: 15px;
    filter: invert(100%);
}

.contato-logo img{
    max-width: 450px;
}

@media (max-width: 739px) {
    .contato-logo img{
        max-width: 250px;
    }
}

/* FOOTER */

.footer {
    background: #4A91B4;
    margin: 0 auto;
    text-align: center;
    font-size: 1.125em;
}

.footer p {
    padding-top: 30px;
    color: #ffffff;
}

.footer img {
    padding-bottom: 5px;
    max-width: 100px;
}

@media (max-width: 739px) { 
    .footer {
        display: flex;
        justify-content: space-evenly;
    }
} 
