* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

/* MENU */

.menu {
    background: #1A78A6;
    padding: 15px;
}

.menu-logo {
    margin: 0 10px;
}

.menu-nav {
    flex: 1;
    align-self: center;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    float: right;
    list-style: none;
}

.menu-nav ul li a{
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.125em;
}